@font-face{
  font-family: 'fancy';
  src: url('Blacksword.otf');
}
@font-face{
  font-family: 'mountain';
  src: url('beyond_the_mountains.otf');
}
@font-face{
  font-family: 'thin';
  src: url('Tasty_Birds.otf');
}
h1{
  color:rgba(0,0,0,0.5);
  font-family:thin;
  font-size:3em;
  line-height: 40%;
}
td{
  text-align: center;
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.text{
  opacity:0.5;
}
html {
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color:rgba(0,0,0,0.5);
}
a:visited{
 color:rgba(0,0,0,0.5);
 text-decoration: none;

}

@media only screen and (min-device-width: 1000px) {
      html {
  	background-image: url(background.jpg);
  	background-position:40% 0;
  	background-size: auto;
    background-repeat: no-repeat;
      }
      body {
        text-align:center;
        font-family:thin;
        width:400px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(255,255,255,0.8);
      }
      #pop-out{
        z-index:1;
        position:fixed;
        height:100%;
        width:420px;
        top:0px;
        right:-20px;
        border: none;
        background:transparent;
      }
      #init{
        position: absolute;
        z-index:100;
        top:20px;
        right:20px;
        width:80px;
        border-radius: 5px;
        padding:5px;
        border: 1px solid white;
        background-color: rgba(255,255,255,0.8);
      }
      #init:hover{
        position: absolute;
        z-index: 100;
        top:20px;
        right:20px;
        padding:5px;
        width:80px;
        border-radius: 5px;
        background-color: white;
        border: 2px solid black;
      }
      .hidden{
        display:none;
      }
      /* Popup container - can be anything you want */
      .popup {
          position: relative;
          display: inline-block;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          z-index:100;
      }

      /* The actual popup */
      .popuptext {
          position: fixed;
          z-index: 1;
          top: 0px;
          right: 0px;
          visibility: hidden;
          width: 400px;
          height:100%;
          text-align: center;
          border-left: 2px dashed white;
      }
	  .popuptext2 {
          position: relative;
          z-index: 1;
		  margin-left:auto;
		  margin-right:auto;
          display: none;
          border: none;
		  padding:20px;
      }

      /* Toggle this class - hide and show the popup */
      .show {
          visibility: visible;
          -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
      }
	  .show2 {
		  display:block;
		  -webkit-animation: fadeIn 1s;
		  animation: fadeIn 1s;
	  }
      #timepicker{
	font-size:1.3em;
  z-index: -10;
      }
      .floater{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	float:left;
      }
      input{
	background-color:transparent;
      }
input[type=range] {
    -webkit-appearance: none;
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
      select {
        font-family:thin;
 	border: none;
	padding-left:65px;
  	margin-top:20px;
  	margin-bottom:20px;
	font-size:1em;
  	width:300px;
  	height:30px;
	background:black;
  	color:white;
	opacity:0.5;
      }
      select option{
	background:white;
	color:black;
      }
      input[type=date]{
        width:300px;
        height:30px;
        background:none;
        text-align:center;
        border:none;
        border-bottom:1px solid black;
        font-family:thin;
        font-size:1em;
        opacity:0.5;
      }
      input[type=date]:hover{
        width:300px;
        height:29px;
        background:none;
        text-align:center;
        border:none;
        border-bottom:2px solid black;
        font-family:thin;
        font-size:1.1em;
        opacity:1;
      }
      input[type=date]:focus{
        width:300px;
        height:29px;
        background:none;
        text-align:center;
        border:none;
        border-bottom:2px solid black;
        font-family:thin;
        font-size:1.1em;
        opacity:1;
      }
      input[type=number]{
          width: 300px;
          height:30px;
          border:none;
          border-bottom: 1px solid black;
          font-family: thin;
          font-size:1em;
          opacity:0.5;
          text-align:center;
          background: none;
      }
      input[type=number]:hover{
          width: 300px;
          height:29px;
          border:none;
          border-bottom: 2px solid black;
          font-family: thin;
          font-size:1.1em;
          opacity:1;
          text-align:center;
          background: none;
      }
      input[type=number]:focus{
          width: 300px;
          height:29px;
          border:none;
          border-bottom: 2px solid black;
          font-family: thin;
          font-size:1.1em;
          opacity:1;
          text-align:center;
          background: none;
      }
      input[type=time]{
        width:300px;
        height:30px;
        background:none;
        text-align:center;
        border:none;
        border-bottom:1px solid black;
        font-family:thin;
        font-size:1em;
        opacity:0.5;
      }
      input[type=time]:hover{
        width:300px;
        height:29px;
        background:none;
        text-align:center;
        border:none;
        border-bottom:2px solid black;
        font-family:thin;
        font-size:1.1em;
        opacity:1;
      }
      input[type=time]:focus{
        width:300px;
        height:29px;
        background:none;
        text-align:center;
        border:none;
        border-bottom:2px solid black;
        font-family:thin;
        font-size:1.1em;
        opacity:1;
      }
      container {
        margin-left:5%;
        margin-right:5%;
        text-align:center;
      }
      input[type=color]{
        width:300px;
        height:40px;
        background:none;
        border:none;
        opacity:0.5;
      }
      input[type=color]:hover{
        width:300px;
        height:40px;
        background:rgba(200,200,200,0.5);
        border:none;
      }
      input[type=submit]:hover {
        width:300px;
        height:40px;
        border:1px solid rgba(0,0,0,0.5);
        background-color:rgba(200,200,200,0.5);
        color:black;
        border-radius:60px;
        opacity:1;
      }
      input[type=submit] {
        font-family:thin;
        width:300px;
        height:40px;
        font-size:1.3em;
        border:none;
        background-color:black;
        color:white;
        border-radius:60px;
        opacity:0.5;
      }
	  #btn:hover {
        width:300px;
        height:40px;
        border:1px solid rgba(0,0,0,0.5);
        background-color:rgba(200,200,200,0.5);
        color:black;
        border-radius:60px;
        opacity:1;
      }
      #btn {
        font-family:thin;
        width:300px;
        height:40px;
        font-size:1.3em;
        border:none;
        background-color:black;
        color:white;
        border-radius:60px;
        opacity:0.5;
		vertical-align: middle;
      }
      td input[type=submit]:hover {
	width:60px;
        height:60px;
        border:none;
        border-radius:0px;
        opacity:1;
        box-shadow: 0px 0px 30px rgba(200, 200, 200, .5);
      }
      td input[type=submit] {
        width:50px;
        height:55px;
        border:none;
        color:white;
        border-radius:0px;
        opacity:0.5;
      }
      #color{
	width:60px;
	height:60px;
      }
      .myLabel {
	position: relative;
      }
      .myLabel input {
	position: absolute;
	z-index: 2;
	opacity: 0;
	width:100%;
	height:100%;
      }
      .myLabel {
  	margin-left:auto;
  	margin-right:auto;
  	font-family:thin;
  	width:296px;
  	padding:4px;
  	font-size:1.3em;
  	border:none;
  	background-color:black;
  	color:white;
	height:27px;
  	opacity:0.5;
      }
      .myLabel:hover {
	width:294px;
        padding-top:3px;
        padding-bottom:5px;
	height:25px;
	color:black;
        background-color:rgba(200,200,200,0.5);
        border:1px solid rgba(0,0,0,0.5);
        opacity:1;
      }
}
@media only screen and (max-device-width: 999px) {
      html {
  	background-image: url(background.jpg);
  	background-position:30% 0;
  	background-size:auto 150%;
      }
      body {
        text-align:center;
        font-family:thin;
        width:800px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(255,255,255,0.5);
      }
      output{
        font-size: 3em;
      }
      #pop-out{
        z-index:1;
        position:fixed;
        height:100%;
        width:100%;
        top:0px;
        left:0px;
        border: none;
        background:transparent;
      }
      #init{
        position: absolute;
        z-index:100;
        top:40px;
        right:40px;
        width:200px;
        border-radius: 10px;
        opacity: 0.5;
        padding:10px;
        border: 2px solid white;
      }
      #init:hover{
        position: absolute;
        z-index: 100;
        top:40px;
        right:40px;
        padding:10;
        width:200px;
        border-radius: 10px;
        background-color: white;
        border: 2px solid black;
      }
      .hidden{
        display:none;
      }
      /* Popup container - can be anything you want */
      .popup {
          position: relative;
          display: inline-block;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          z-index:100;
          font-size: 3em;
      }

      /* The actual popup */
      .popuptext {
          position: fixed;
          z-index: 1;
          top: 0px;
          left: 0px;
          visibility: hidden;
          width: 100%;
          height:100%;
          text-align: center;
          border: none;
      }

      /* Toggle this class - hide and show the popup */
      .show {
          visibility: visible;
          -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
      }
      select {
        font-family:thin;
        border: none;
        margin-top:40px;
        margin-bottom:40px;
	padding:5px;
        font-size:2.3em;
        width:600px;
        height:60px;
        background:black;
        color:white;
        opacity:0.5;
	padding-left:120px;
      }
      select option{
        background:white;
        color:black;
      }
      input{
	background-color:transparent;
      }
input[type=range]:focus {
  outline: none;
}

input[type=range] {
  width: 600px;
  height:80px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 8px solid gray;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  margin-top: -14px;
}

input[type=range]::-moz-range-thumb {
  border:8px solid gray;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  margin-top: -14px;
}

input[type=range]::-ms-thumb {
  border: 8px solid silver;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

     input[type=date]{
        width:600px;
        height:100px;
        background:none;
        text-align:center;
        border:none;
        border-bottom:1px solid black;
        font-family:thin;
	      font-size:3em;
      }
      input[type=number]{
          width: 600px;
          height:100px;
          border:none;
          border-bottom: 1px solid black;
          font-family: thin;
          font-size:3em;
          text-align:center;
          background: none;
      }
     input[type=time]{
        width:600px;
        height:100px;
        background:none;
        text-align:center;
        border:none;
        border-bottom:1px solid black;
        font-family:thin;
	      font-size:3em;
     }
     container {
        margin-left:5%;
        margin-right:5%;
        text-align:center;
      }
      input[type=color]{
        width:600px;
        height:80px;
        background:none;
        border:none;
        opacity:0.5;
      }
      input[type=submit] {
        font-family:thin;
        width:600px;
        height:100px;
        font-size:3.9em;
        border:none;
        background-color:black;
        color:white;
        border-radius:120px;
        opacity:0.5;
      }
      td input[type=submit]{
        width:110px;
        height:110px;
        border:none;
        border-radius:0px;
        opacity:1;
      }
      #color{
        width:120px;
        height:120px;
      }
      .myLabel {
	position: relative;
      }
      .myLabel input {
	position: absolute;
	z-index: 2;
	opacity: 0;
	width:100%;
	height:100%;
      }
      .myLabel {
  	margin-left:auto;
  	margin-right:auto;
  	font-family:thin;
  	width:592px;
  	padding:8px;
  	font-size:2em;
  	border:none;
  	background-color:black;
  	color:white;
  	opacity:0.5;

      }

      #timepicker{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:600px;
	font-size:2em;
  z-index: -10;
      }

}
input[type=checkbox].css-checkbox {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=checkbox].css-checkbox + label.css-label {
							padding-left:29px;
							height:24px; 
							display:inline-block;
							line-height:24px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:24px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-position: 0 -24px;
						}
						label.css-label {
				background-image:url(checkbox.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				margin-bottom:10px;
			}